/* ----- General ----- */
html,body {
    font-family: "Roboto Mono", Arial;
    color: rgb(77, 167, 85);
    background-image: url(stars.png);
    position: relative;
    font-size: 16px;
}

a {
    text-decoration: none;
}

a:link {
    color: rgb(148, 36, 36);
}

a:visited {
    color: rgb(133, 72, 72);
}

a:hover {
    color: rgb(141, 0, 0);
}

/* ----- Header section ----- */
header {
    min-height: 100px;
    text-align: center;
}

.link {
    width: 110px;
    padding: 2px;
    margin: 2px;
    font-size:x-large;
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    align-self: center;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 900;
    margin-bottom: 10px;
}

h1 {
    margin: 10px;
}

.shortcuts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2px;;
}

.shortcut {
    padding: 0 10px;
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    margin: 2px;
}

.shortcut h2 {
    margin: 0;
}

.shortcut .dropdown-yf, .shortcut .dropdown-mr, .shortcut .dropdown-hl  {
    margin-top: 2px;
    min-width: 150px;
    width: 100%;
    display: none;
    position: absolute;
    z-index: 1337;
    left: 0;
    float: left;
}

.shortcut:hover .dropdown-yf, .shortcut:hover .dropdown-mr, .shortcut:hover .dropdown-hl {
    display: block;
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8)
}

/* ----- Content section ----- */

main {
    margin: 20px auto;
    max-width: 1000px;
    text-align: center;
    margin-top: 5px;
}

article {
    padding: 10px;
    margin: auto;
    display: inline-block;
    clear: both;
    text-align: justify;
}

article h2 {
    text-align: center;
}

.image-container-left {
    float: left;
    margin-right:20px;
}

.image-container-right {
    float: right;
    margin-left: 20px;
}

/* ----- Footer section ----- */

footer {
    text-align: center;
    font-weight: 900;
}

/* ----- mobiles or small screens ----- */

@media only screen and (max-width: 750px) {
    .logo {
        display: none;
    }

    h1, .link {
        font-size: larger;
    }

    h2 {
        font-size:small;
    }
}

@media only screen and (max-width: 450px) {
    
    .shortcuts {
        flex-direction: column;
        align-content: center;
    }

    .shortcut {
        width: 135px;
    }
}