/* ----- General ----- */
html,body {
    font-family: "Roboto Mono", Arial;
    color: rgb(77, 167, 85);
    background-image: url(stars.png);
    position: relative;
}

a {
    text-decoration: none;
}

a:link {
    color: rgb(148, 36, 36);
}

a:visited {
    color: rgb(133, 72, 72);
}

a:hover {
    color: rgb(141, 0, 0);
}

/* ----- Header section ----- */
header {
    min-height: 100px;
    text-align: center;
}

.link {
    padding: 20px;
    font-size:xx-large;
}

nav {
    align-content: center;
    font-weight: 900;
    margin-bottom: 0;
}

h1 {
    font-size: 48px;
    margin: 0;
}

.shortcut {
    display: inline-block;
    position: relative;
    padding: 0 20px;
}

.shortcut .dropdown-content {
    min-width: 150px;
    width: 100%;
    display: none;
    position: absolute;
    z-index: 1337;
    left: 0;
    float: left;
}

.shortcut:hover .dropdown-content {
    display: block;
    left: 0;
    /*background-image: url(stars.png); */
    background-color: black;
}

/* ----- Content section ----- */
article {
    font-size: 24px;
    margin: 20px;
    clear: both;
    text-align: justify;
}

article h2 {
    text-align: center;
}

.image-container-left {
    float: left;
    margin-right:20px;
    height: 290px;
}

.image-container-right {
    float: right;
    margin-left: 20px;
    height: 290px;
}

/* ----- Footer section ----- */

footer {
    font-size: 22px;
    text-align: center;
    font-weight: 900;
}